@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Header */
.header {
  border-bottom: 1px solid #e2e8f0;
}

/* Navbar */
.navbar {
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
/* Hamburger style */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/* Basic styles for out other elements */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}
/* Responsiveness for the navbars */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* Container Starts here */
.insider-container {
  background: linear-gradient(#64e6db, #0bf9f5);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.insider-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.insider-container p {
  margin-bottom: 15px;
}

.underline {
  text-decoration: underline;
}

.photo {
  width: 320px;
  height: 320px;
  margin-left: 20px;
}

/* container 2 css */
.container2{
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 19px;
gap: 30px;

width: 1386px;
height: 1343px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
/* frame8 css */
.frame8{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 484px;
height: 1096px;

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.card_updates{
    /* card */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 484px;
height: 328px;

background: #FF5858;
border-radius: 20px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.frame4{
    /* Frame 4 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px 30px;
gap: 10px;

width: 484px;
height: 88px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.frame4 h1{
    /* Updates */


width: 167px;
height: 48px;



/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame2{
    /* Frame 2 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    
    color: #FFFFFF;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 10px;
gap: 10px;

width: 411px;
height: 240px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}



.card2
{

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 484px;
height: 328px;

background: #4C4C4C;
border-radius: 20px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.card2_frame4{
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 30px;
    gap: 10px;
    
    width: 484px;
    height: 88px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.card2_frame2
{
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
    gap: 10px;
    
    width: 411px;
    height: 240px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}
.card2_Reminders
{
        /* Reminders */
        
        
        width: 214px;
        height: 48px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        
        color: #FFFFFF;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
}
.card2_Data
{
       /* New Inter School Course DA DUE DAR pending submission New Inter School Course DA DUE DAR pending submission */
       
       
       width: 391px;
       height: 200px;
       
       font-family: 'Inter';
       font-style: normal;
       font-weight: 500;
       font-size: 25px;
       line-height: 30px;
       
       color: #FFFFFF;
       
       
       /* Inside auto layout */
       
       flex: none;
       order: 0;
       flex-grow: 0;
}



.card3{
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    width: 484px;
    height: 380px;
    
    background: #EFEFEF;
    border-radius: 20px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.card3_fram4{
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    
    width: 432px;
    height: 88px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card3_head{
    
/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px 19px;
gap: 20px;

width: 484px;
height: 292px;
overflow-x: scroll;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.card_course1{
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 10px;
    
    width: 446px;
    height: 126px;
    
    background: #EFEFEF;
    border-radius: 10px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card_course2{
    
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 8px;
gap: 10px;

width: 446px;
height: 126px;

background: #EFEFEF;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}